$minMax-media = {
    min_zero: "320px",
    max_zero: "375px",
    min_first: "376px",
    max_first: "479px",
    min_second: "480px",
    max_second: "567px",
    min_third: "600px",
    max_third: "767px",
    min_tablet : "768px",
    max_tablet : "959px",
    min_desktop-md : "960px",
    max_desktop-md : "1263px",
    min_desktop-lg: "1264px",
    max_desktop-lg: "1904px",
    min_desktop_extended: "1904px"
}

$only-screen = "only screen and (min-width: "
$max-width = ") and (max-width: "
$only-screen-min = "only screen and (max-width: "
$only-screen-end = ")"
$only-screen-end-comma = "), "

$media_queries = {

  tableAndDown :
    $only-screen-min + $minMax-media[min_tablet] + $only-screen-end

  xsOnly :
    $only-screen + $minMax-media[min_zero] + $max-width + $minMax-media[max_second] + $only-screen-end-comma 

  smOnly :
    $only-screen + $minMax-media[min_third] + $max-width + $minMax-media[max_tablet] + $only-screen-end-comma

  mdOnly :
    $only-screen + $minMax-media[min_desktop-md] + $max-width + $minMax-media[max_desktop-md] + $only-screen-end-comma 


  lgOnly :
    $only-screen + $minMax-media[min_desktop-lg] + $max-width + $minMax-media[max_desktop-lg] + $only-screen-end-comma 

  xlOnly :
    $only-screen + $minMax-media[min_desktop_extended] + $only-screen-end

  xxsAndDown :
    $only-screen-min + $minMax-media[max_first] + $only-screen-end

  xsAndDown :
    $only-screen-min + $minMax-media[max_second] + $only-screen-end

  smAndDown :
    $only-screen-min + $minMax-media[max_tablet] + $only-screen-end

  smAndUp :
    $only-screen + $minMax-media[min_third] + $only-screen-end

  mdAndDown :
    $only-screen-min + $minMax-media[max_desktop-md] + $only-screen-end

  mdAndUp :
    $only-screen + $minMax-media[min_desktop-md] + $only-screen-end

  lgAndDown :
    $only-screen-min + $minMax-media[max_desktop-lg] + $only-screen-end

  lgAndUp :
    $only-screen + $minMax-media[min_desktop-lg] + $only-screen-end
}