
//colors
primary   = #2477ED
secondary = #F6F6F8

//z-index
z-low           = 1
z-medium        = 2
z-high          = 10
z-higher        = 100


form-shadow = 0 2px 0 rgba(90, 97, 105, 0.11), 
              0 4px 8px rgba(90, 97, 105, 0.12), 
              0 10px 10px rgba(90, 97, 105, 0.06), 
              0 7px 70px rgba(90, 97, 105, 0.1);

