

.cw-degree
    display: flex;
    justify-content: center;
    
    span
        padding-top: 7px;
        font-size: 1.5rem;

.cw-desc
    text-align: center;
    line-height: 1.5rem;
    margin-top: 0.5rem;

    h2
        font-size: 1.6rem;
        color: primary;
        font-weight: 600;

.cw-widget
    background: white;
    width: 50vh;
    height: 24rem;
    padding: 2rem;
    border-radius: 15px;

    &__header
        
        h2
            font-size: 2.3rem;
            font-weight: 600;

        .header-date
            margin-top: 8px;
            line-height: 17px;
            

    &__content
        display: flex;
        margin: 3rem 0;
        justify-content: space-evenly;

        .content-img
            width: 8rem;

        .cw-degree
            h1
                font-size: 3rem;
                font-weight: 600;


