

.cw-widget
    background: white;
    padding: 2rem;
    border-radius: 15px;
    height: 27rem;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
     
    +$responsive(tableAndDown)
        padding: 1rem;
        justify-content: unset

    &__header
        
        h2
            font-size: 3vw;
            font-weight: 600;

            +$responsive(tableAndDown)
                font-size: 7vw;


        .header-date
            font-size: 2vw;
            margin-top: 8px;
            line-height: 2.5vw;

            +$responsive(tableAndDown)
                font-size: 4vw;
                line-height: 5vw;

    &__content
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        +$responsive(tableAndDown)
            margin-top: 5vw;

        .content-img
            width: 12vw;

            +$responsive(tableAndDown)
                width: 27vw;

        .content-info
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


        .cw-degree
            h1
                font-weight: 600;
                font-size: 4vw;

                +$responsive(tableAndDown)
                    font-size: 15vw;
                    

            span
                font-size: 2.5vw;

                +$responsive(tableAndDown)
                    font-size: 7vw;

        .cw-desc
            +$responsive(tableAndDown)
                line-height: 6vw;


            h2
                font-size: 3vw;

                +$responsive(tableAndDown)
                    font-size: 7vw;

            p
                font-size: 1.5vw;

                +$responsive(tableAndDown)
                    font-size: 4vw;
                



