
.fw-widget
    background: white;
    border-radius: 1.5vw;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    width: 18vw;
    height: 23vw;

    &__time
        font-size: 1.5vw;
        font-weight: 600;

    &__content
        display: flex;
        flex-direction: column;
        align-items: center;

        .content-img
            width: 5vw;

        h1
            font-size: 2rem;
        
        .cw-desc
            margin: 0;
            margin-top: -6px;

            h2
                font-size: 1.5vw;

        .cw-degree
            h1
                font-size: 3vw;

            span
                font-size: 1vw;

    &__date
        line-height: 1.7vw;

        .fw-day
            font-size: 1.5vw;

        .fw-date
            font-size: 1vw;