.info-widget
    background: primary;
    color: white;
    border-radius: 15px;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    padding-left: 1.5rem;
    margin: 1rem 0;
    margin-left: -1rem;
    height: 7vw;
    width: 43vw;

    +$responsive(tableAndDown)
        margin-left: 0;

    h2
        font-size: 2vw;
        display: flex;
        align-items: center;

        +$responsive(tableAndDown)
            font-size: 4vw;

    p
        font-size: 2vw;
        display: flex;
        align-items: center;

        +$responsive(tableAndDown)
            font-size: 4vw;


