.info-widget
    background: primary;
    color: white;
    width: 50vh;
    border-radius: 15px;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    padding-left: 1.5rem;
    margin: 1rem 0;
    margin-left: -1rem;

