.cw-degree
    display: flex;
    justify-content: center;
    h1
        font-weight: 600
    span
        padding-top: 7px;
        font-size: 1.5rem;

.cw-desc
    text-align: center;
    line-height: 1.5rem;
    margin-top: 0.5rem;

    h2
        font-size: 1.6rem;
        color: primary;
        font-weight: 600;
