.w-loading
    position: fixed

.w-board
    display: flex;
    width: 100%;
    justify-content: space-between;

    .loading
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);
        z-index: 10000;
        overflow: hidden;
        background: #000000cf;
        display: flex;
        justify-content: center;
        align-items: center;

        img
            width: 5rem;
            display inline !important;

    +$responsive(tableAndDown)
        flex-direction: column;
        align-items: center;
        padding: 1rem;


    .info-container
        width: 30%

        +$responsive(tableAndDown)
            width: 100%

    .more-container
        width: 70%

        +$responsive(tableAndDown)
            width: 100%;

    &__info
        width: 100%;

        .cw-section
            height: 36vw;

            +$responsive(tableAndDown)
                height: 82vw;

        .cw-widget
            height: 100%;
            width: 100%;

        .info-desc 
            margin-top: 1rem;
            height: 43%;


        .info-widget
            height: 5vw;
            width: 31vw;

            +$responsive(tableAndDown)
                width: 100%;
                padding: 1vw;
                height: 10vw;

    &__more
        padding: 2vw;
        width: 100%;

        .fore-desc
            height: 30vw;

            +$responsive(tableAndDown)
                height: unset

            &__header
                h4
                    color: primary;
                    font-size: 1.5vw;

                    +$responsive(tableAndDown)
                        font-size: 3vw;

                h1
                    font-weight: 600
                    font-size: 2vw;

                    +$responsive(tableAndDown)
                        font-size: 5vw;

            &__content
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: 0.5rem 0;

                .fore-section
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    +$responsive(tableAndDown)
                        overflow-x: scroll;
                        padding-bottom: 1rem;

        .map-section
            +$responsive(tableAndDown)
                margin-top: 1rem;

        .google-map
            width: 100%;
            border-radius: 15px;
            height: 26vw;
            
            +$responsive(tableAndDown)
                height: 70vw;
